{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}

{% block content %}
<!-- <script>
    // $(document).ready(function(){
        // $("#id_message").submit(function(){
            // $("#id_message").attrs("placeholder", "sean" )
        // });
    // });
</script> -->
<div class="outer container-fluid" style="background-color: rgb(0, 0, 12);">
    <div class="inner">
        <h1 id="greet" class="emboss-txt text-center">Halo, apa kabar?</h1>
    </div>
</div>
<div class="outer container-fluid" style="background-color: rgb(85, 192, 156);">
    <div id="update-status-form" class="inner w-100 ml-5 mr-5">
        <form method="POST" class="">
            {% csrf_token %}
            <div id="message-input" class="form-group">
                {{ form.message }}
            </div>
            <div class="d-flex justify-content-end">
                <button id="UpdateButton" type="submit" class="btn btn-outline-warning w-25">Update</button>
            </div>
        </form>
    </div>
</div>
<div id="all-status" style="background-color: rgb(85, 192, 156)!important;">
    <div id="message-status" class="container p-2">
        {% for datum in data %}
        <div class="row" >
            <div class="card mt-2 w-100">
                <div class="card-header w-100">
                    <h1>{{ datum.message }}</h1>
                    <small class="text-muted"> {{ datum.date_time }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}