{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}

{% block content %}
<div class="container-fluid profile-page" style="background-color: rgb(0, 0, 12);">
    <div class="row">
        <div class="col-md-6 align-self-center">
            <div class="row inner d-flex justify-content-center" >
                <a class="d-flex justify-content-center" href="{% static 'img/profile_pic.jpg' %}" target="_blank">
                    <img id="profile-image" class="rounded-circle profile-img" src="{% static 'img/profile_pic.jpg' %}" >
                </a>
            </div>
            <div class="container-fluid mt-4">
                <div id="profile-name" class="row d-flex justify-content-center">
                    <h2 class="profile-heading text-white">Sean Zeliq Urian</h2>
                </div>
                <div id="profile-name" class="row d-flex justify-content-center">
                    <h2 class="profile-heading text-white">1806141454</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 align-self-center" >
            <div class="card">
                <div class="kartu-kepala card-header" style="cursor:pointer; background-color : rgb(85, 192, 156);" >
                    <h1 style="color: white;">Kegiatan Saya</h1>
                </div>
                <div class="kartu-badan card-body" style="background-color:papayawhip;">
                    <p style="color: black;">Kegiatan saya kebanyakan adalah berkuliah, dan beberapa di luar akademik seperti kepanitiaan dan organisasi. sedangkan untuk sekarang ini saya masih minim pengalaman namun saya akan terus mencari pengalaman-pengalaman yang menarik untuk diceritakan.</p>
                </div>
            </div>
            <div class="card">
                <div class="kartu-kepala card-header"  style="cursor:pointer; background-color : rgb(85, 192, 156);" >
                    <h1 style="color: white;">Pengalaman di Organisasi</h1>
                </div>
                <div class="kartu-badan card-body" style="background-color:papayawhip;">
                    <ul>
                        <li>
                            <h3>Bimbel Mengejar UI</h3>
                            <p>Bimbel mengejar ui adalah event yang saya urus akhir-akhir ini, tujuan dari event ini adalah menyelenggarakan bimbingan belajar gratis terhadap siswa SMA/SMK/MA yang berkeinginan berkuliah di Universitas Indonesia kedepannya. Bimbingan belajar ini di naungi oleh Ikatan Alumni dari Fakultas Ekonomi dan Bisnis Universitas Indonesia</p>
                        </li>
                        <li>
                            <h3>Dept Quran - FUKI</h3>
                            <p>Kesibukan saya di departemen quran FUKI Fasilkom UI adalah mengurus proker ABATA yang mengajak para mahasiswa Fasilkom UI untuk belajar Tahsin dan lebih dekat dengan quran</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="kartu-kepala card-header"  style="cursor:pointer; background-color : rgb(85, 192, 156);" >
                    <h1 style="color: white;">Prestasi Saya</h1>
                </div>
                <div class="kartu-badan card-body" style="background-color:papayawhip;">
                    <ul>
                        <li>
                            <h3>3rd - CTF - Pekan Ristek 2019</h3>
                            <p>Saya mengikuti pekan Ristek untuk kompetisi Capture The Flag yang di adakan oleh Ristek setahun sekali. dan alhamdulillah berhasil mendapat peringkat 3</p>
                        </li>
                    </ul>
                    <p style="color: black;">Prestasi Saya tidak banyak HEHE</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}