{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Books {% endblock %}

{% block content %}
<form id="search" method="get" class="d-flex justify-content-center">
    <div class="form-group w-75">
        <label class="text-library" for="search-box" class="h1">Cari Buku Anda</label>
        <input type="text" class="form-control" id="search-box" placeholder="Find some to read..">
    </div>
</form>
<div id="demo">
    <div class="container">
        <div id="daftar-buku" class="row">
            {% for book in books %}
            <div class="col-md-4" style="padding: 0;">
                <div class= "w-100">
                    <div class="card-header">
                        <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="card-img-top" style="height: 250px; width: 250px;" alt="{{book.volumeInfo.title}}">
                    </div>
                    <div class="card-body" style="height: 250px; width: 250px;">
                        <h5 class="card-title text-library">
                            {% if book.volumeInfo.title %}
                                {{book.volumeInfo.title}}
                            {% else %}
                                undefined
                            {% endif %}
                        </h5>
                        <h6 class="h6 text-muted">{{book.volumeInfo.authors.0}}</h6>
                        <a href="{{book.volumeInfo.previewLink}}" target="_blank" class="btn btn-primary">Preview</a>
                        <a href="{{book.volumeInfo.infoLink}}" target="_blank" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script>
    $("#search-box").keyup(
        function(){
            event.preventDefault(); 
            var keyword = $("#search-box").val();
            if(keyword == "") {
                var huruf = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
                var getRandomHuruf = function () {
                    return huruf[Math.floor(Math.random() * huruf.length)];
                };
                $.ajax({
                url: ("https://www.googleapis.com/books/v1/volumes?q=" + getRandomHuruf()), 
                success: function(result){
                    $("#daftar-buku").empty();
                    var isi = "";
                    $.each(result.items, function(index, data) {
                        isi = isi + '<div class="col-md-4" style="padding: 0;">' +
                            '<div class= "w-100">' +
                                '<div class="card-header">' +
                                    '<img src="' + data.volumeInfo.imageLinks.smallThumbnail + '" class="card-img-top" style="height: 250px; width: 250px;" alt="' + data.volumeInfo.title +'">' +
                                '</div>' +
                                '<div class="card-body" style="height: 250px; width: 250px;">' +
                                    '<h5 class="card-title text-library">' + data.volumeInfo.title + '</h5>' +
                                    '<h6 class="h6 text-muted">' + data.volumeInfo.authors + '</h6>' +
                                    '<a href="' + data.volumeInfo.previewLink + '" target="_blank" class="btn btn-primary mr-1">Preview</a>' +
                                    '<a href="' + data.volumeInfo.infoLink + '" target="_blank" class="btn btn-primary">Download</a>' +
                                '</div>' +
                            '</div>' +
                            '</div>'
                        });
                        $("#daftar-buku").append(isi);

                        if((localStorage.checked ==  "true")){
        // $('.switch > input').prop('checked', false);
        $('.switch > input').attr('checked', true);
    }else {
        // $('.switch > input').prop('checked', true);
        $('.switch > input').attr('checked', false);
    }
    
    if(!(localStorage.checked == "true")){
        // $('.switch > input').prop('checked', false);
        localStorage.checked = false;

        $('.outer').first().css("background-color", "rgb(255, 255, 243)")
        $('.outer').last().css("background-color", "rgb(23, 162, 184)")
        $('#all-status').css("background-color", "rgb(23, 162, 184)")
        $('.outer > .inner >#greet').css("color", "rgb(0, 0, 0)")

        $('.navbar').css('background-color', 'rgb(255, 255, 243)');
        $("#navbar").attr('class', 'navbar navbar-expand-md navbar-light border-bottom');
        $('.navbar-brand').attr('style', 'color: black !important');
        $(".nav-item").attr('style' ,'color: black !important')

        $('.profile-page').css("background-color", "rgb(255, 255, 243)");
        $('.profile-heading').attr('style', 'color: black !important');
        $(".profile-page > .row > .col-md-6 > .card > .card-header").css('background-color', 'rgb(23, 162, 184)');
        $(".profile-page > .row > .col-md-6 > .card > .kartu-badan").css('background-color', 'white');

        $('#search').css("background-color", "rgb(255, 255, 243)");
        $('#demo').css("background-color", "rgb(255, 255, 243)");
        $('.text-library').attr('style', 'color: black !important');
    }else {
        // $('.switch > input').prop('checked', true);
        localStorage.checked = true;

        $('.outer').first().css("background-color", "rgb(0, 0, 12)")
        $('.outer').last().css("background-color", "rgb(85, 192, 156)")
        $('#all-status').css("background-color", "rgb(85, 192, 156)")
        $('.outer > .inner >#greet').css("color", "rgb(207, 207, 207)")

        $('.navbar').css("background-color", "rgb(0, 0, 12)");
        $("#navbar").attr('class', 'navbar navbar-expand-md navbar-dark border-bottom');
        $('.navbar-brand').attr('style', 'color: white !important');
        $('.nav-item').attr('style', 'color: white !important')

        $('.profile-page').css("background-color", "rgb(0, 0, 12)");
        $('.profile-heading').attr('style', 'color: white !important');
        $(".profile-page > .row > .col-md-6 > .card > .card-header").css('background-color', 'rgb(85, 192, 156)');
        $(".profile-page > .row > .col-md-6 > .card > .kartu-badan").css('background-color', 'papayawhip');

        $('#search').css("background-color", "rgb(0, 0, 12)")
        $('#demo').css("background-color", "rgb(0, 0, 12)")
        $('.text-library').attr('style', 'color: white !important');
    }

                    }
                });
                    

                



            }
            else {
                $.ajax({
                url: ("https://www.googleapis.com/books/v1/volumes?q=" + keyword), 
                success: function(result){
                    $("#daftar-buku").empty();
                    var isi = "";
                    $.each(result.items, function(index, data) {
                        isi = isi + '<div class="col-md-4" style="padding: 0;">' +
                            '<div class= "w-100">' +
                                '<div class="card-header">' +
                                    '<img src="' + data.volumeInfo.imageLinks.smallThumbnail + '" class="card-img-top" style="height: 250px; width: 250px;" alt="' + data.volumeInfo.title +'">' +
                                '</div>' +
                                '<div class="card-body" style="height: 250px; width: 250px;">' +
                                    '<h5 class="card-title text-library">' + data.volumeInfo.title + '</h5>' +
                                    '<h6 class="h6 text-muted">' + data.volumeInfo.authors + '</h6>' +
                                    '<a href="' + data.volumeInfo.previewLink + '" target="_blank" class="btn btn-primary mr-1">Preview</a>' +
                                    '<a href="' + data.volumeInfo.infoLink + '" target="_blank" class="btn btn-primary">Download</a>' +
                                '</div>' +
                            '</div>' +
                            '</div>'
                        });
                        $("#daftar-buku").append(isi);
                        if((localStorage.checked ==  "true")){
        // $('.switch > input').prop('checked', false);
        $('.switch > input').attr('checked', true);
    }else {
        // $('.switch > input').prop('checked', true);
        $('.switch > input').attr('checked', false);
    }
    
    if(!(localStorage.checked == "true")){
        // $('.switch > input').prop('checked', false);
        localStorage.checked = false;

        $('.outer').first().css("background-color", "rgb(255, 255, 243)")
        $('.outer').last().css("background-color", "rgb(23, 162, 184)")
        $('#all-status').css("background-color", "rgb(23, 162, 184)")
        $('.outer > .inner >#greet').css("color", "rgb(0, 0, 0)")

        $('.navbar').css('background-color', 'rgb(255, 255, 243)');
        $("#navbar").attr('class', 'navbar navbar-expand-md navbar-light border-bottom');
        $('.navbar-brand').attr('style', 'color: black !important');
        $(".nav-item").attr('style' ,'color: black !important')

        $('.profile-page').css("background-color", "rgb(255, 255, 243)");
        $('.profile-heading').attr('style', 'color: black !important');
        $(".profile-page > .row > .col-md-6 > .card > .card-header").css('background-color', 'rgb(23, 162, 184)');
        $(".profile-page > .row > .col-md-6 > .card > .kartu-badan").css('background-color', 'white');

        $('#search').css("background-color", "rgb(255, 255, 243)");
        $('#demo').css("background-color", "rgb(255, 255, 243)");
        $('.text-library').attr('style', 'color: black !important');
    }else {
        // $('.switch > input').prop('checked', true);
        localStorage.checked = true;

        $('.outer').first().css("background-color", "rgb(0, 0, 12)")
        $('.outer').last().css("background-color", "rgb(85, 192, 156)")
        $('#all-status').css("background-color", "rgb(85, 192, 156)")
        $('.outer > .inner >#greet').css("color", "rgb(207, 207, 207)")

        $('.navbar').css("background-color", "rgb(0, 0, 12)");
        $("#navbar").attr('class', 'navbar navbar-expand-md navbar-dark border-bottom');
        $('.navbar-brand').attr('style', 'color: white !important');
        $('.nav-item').attr('style', 'color: white !important')

        $('.profile-page').css("background-color", "rgb(0, 0, 12)");
        $('.profile-heading').attr('style', 'color: white !important');
        $(".profile-page > .row > .col-md-6 > .card > .card-header").css('background-color', 'rgb(85, 192, 156)');
        $(".profile-page > .row > .col-md-6 > .card > .kartu-badan").css('background-color', 'papayawhip');

        $('#search').css("background-color", "rgb(0, 0, 12)")
        $('#demo').css("background-color", "rgb(0, 0, 12)")
        $('.text-library').attr('style', 'color: white !important');
    }
                    }
                });



                

            }
        }
    );
    </script>
{% endblock %}