/* @font-face {
    font-family: dock11;
    src:url(heavy_dock11.otf);
} */

html {
    scroll-behavior: smooth;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28.5px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(33, 212, 243);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(33, 212, 243);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {  
    border-radius: 50%;
}

.outer {
    width: 100%;
    height: 50vw;
    display: flex;
}

.inner {
    margin: auto;
}

#UpdateButton {
    height: calc(4vw + 15px);
    font-size: calc(2vw + 5px);
}



#message-input {
    height: 27.6vw;
    resize: none;
}

#message-input textarea {
    height: 27.6vw;
    resize: none;
}

#id_message {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    font-size: 40px;
    padding: 20px;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 50px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.emboss-txt {
    position: relative;
    font-size: 12.5vw;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 5px;
    color:rgb(207,207,207);

    text-shadow: 
    /*3D layers*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167),
    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),
    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167),
    3px 3px 1px rgb(167,167,167),
    3px 4px 1px rgb(167,167,167),
    3px 5px 1px rgb(167,167,167),
    
    /*long soft bottom*/
    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),
    /*short soft bottom*/
    0px 5px 5px rgba(0,0,0,0.8),
    /*left shadow*/
    -5px 5px 20px rgba(0,0,0,0.8),
    /*right shadow*/
    5px 5px 20px rgba(0,0,0,0.8),

    /*white light*/
    1px 1px 120px rgba(255,255,255,0.5),
    ;
}

.emboss-txt::after {
    content: "Halo, apa kabar?";
    font-size: 12.5vw;
    letter-spacing: 5px;
    font-family: 'Fredoka One', cursive;
    position: absolute;
    top:0;
    left:0;
    text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
    animation: cycle 10s linear infinite;
}

@keyframes cycle {
    0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
    10% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
    20% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
    30% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
    40% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
    50% { text-shadow: 0px 0px 100px rgba(199, 11, 136, 0.5);}
    60% { text-shadow: 0px 0px 100px rgba(199, 11, 20, 0.5);}
    70% { text-shadow: 0px 0px 100px rgba(11, 161, 199, 0.5);}
    80% { text-shadow: 0px 0px 100px rgba(11, 199, 121, 0.5);}
    90% { text-shadow: 0px 0px 100px rgba(11, 199, 27, 0.5);}
    100% { text-shadow: 0px 0px 100px rgba(45, 11, 199, 0.5);}
}

.profile-page {
    height: 100%;
}
.profile-img {
    width: 20vw;
}
.profile-heading {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
}