{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="container-fluid pt-4 d-flex justify-content-center" style="background-color: rgb(0, 0, 12);">
        <h2 class="text-white" style="font-weight: 400;">Welcome to Gibah-Online</h2>
    </div>
    <div class="d-flex justify-content-center" style="background-color: rgb(0, 0, 12); height: 100vh;">
        <div class="container w-75 mt-4">
            <div class="row" style="margin-left: 25%;margin-right: 25%;">
                {% if login_form.non_field_errors %}
                    <div class="text-danger border border-danger rounded w-100">
                        <p>{{ login_form.non_field_errors }}</p>
                    </div>
                {% endif %}
            </div>
            <div class="row" style="margin-left: 25%;margin-right: 25%;">
                <form method="post" class="mt-4 w-100">
                    {% csrf_token %}
                    {% for field in login_form %}
                        <div class="form-group">
                            <label for="{{ field.name }}" class="text-white">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% for error in field.errors %}
                            <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    {% endfor %}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="w-50 mt-3 mb-3 btn btn-outline-primary">Sign In</button>
                    </div>
                </form>
            </div>
        </div>        
    </div>
{% endblock content %}